XNA2DCollisionDetection/XNA2DCollisionDetection/XNA2DCollisionDetection/bin/*
XNA2DCollisionDetection/XNA2DCollisionDetection/XNA2DCollisionDetection/obj/*
Tank client/Tank client/bin/*
Tank client/Tank client/obj/*
